#imagem-header{
    width: 240px;
    height: 135px;
    border-radius: 30px;
    
}

header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    height: 100px;
    margin-right: 200px;
}

body{
    
     background-color: gray;
}

.box-1{
   text-align: center;
    padding: 40px;
}

.container{
    
    display: flex;
    margin-left: 80px;
    margin-right:100px;
   
}


h1{
    
    color: black;
}

h3{
   
    text-align: center;
    text-decoration: underline;
    color: rgb(218, 14, 201);
   
}


p{
    color: black;
   
       
}


#LinksH{

   list-style-type: none;
   display: flex;
   width: 300px;
   justify-content: space-evenly;
   align-items: center;
   
   
}

#minhafoto {
    border-radius: 100px;
    width: 300px;
     
    
}


#pesquisar{
    margin-right: 20px;
    justify-content: flex-end;
     display:flex
     
     
}


input{
    margin-right: 5px;
    width: 50%;
    outline: none;
    
}
a:hover{
    background-color: rgb(114, 98, 98);
}

a{
    border-radius: 10px;
    padding: 10px;
    background-color:black;
    color: white;
    text-decoration: none;
}


footer ul{
    text-align: center;

}

Footer p{
    text-align: center;
    color:white; 
}
footer{
   background-color: black;
   padding: 10px;
   border-radius: 10px;

}

