#imagem-header{
    width: 240px;
    height: 135px;
    border-radius: 30px;
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


body{
 
     background-color: gray
}
main{
    text-align: center;
    
}

h1{
    
    color: white;
}
h3{
   
    text-align: center;
    text-decoration: underline;
    color: rgb(218, 14, 201);
   
}
h4{
    text-align: center;
    color: white;
}



p{
    color: black;
    text-align: center;
    
}



#LinksH{

   list-style-type: none;
   display: flex;
   width: 300px;
   justify-content: space-around;
   align-items: center;
}

#minhafoto {
    border-radius: 100px;
    width: 300px;
    
}




#pesquisar{
    justify-content: flex-end;
     display:flex
     
     
}

section.projeto a{
    align-items: left;
}

input{
    margin-right: 5px;
    width: 50%;
    outline: none;
    
}
a:hover{
    background-color: rgb(114, 98, 98);
}

a{
    border-radius: 10px;
    padding: 10px;
    background-color:black;
    color: white;
    text-decoration: none;
}


footer ul{
    text-align: center;

}

Footer p{
    text-align: center;
    color:white; 
}
footer{
   background-color: black;
   padding: 10px;
   border-radius: 10px;

}

